#add_relief_program{
    float: right;
    margin-right: 5%;
    margin-top: 2%;
    padding: 10px;
    border-radius: 50px;
    color: white;
    background-color: #30574b;
    border-color: transparent;
    box-shadow: inset 0 0 0 0 #478484;
    transition: ease-out 0.3s;
    font-weight: bold;
}
#add_relief_program:hover{
    box-shadow: inset 210px 0 0 0 #478484;
    color: #fffb00;
}
.table{
    background-color: #30574b;
}