.sidenav {
    height:100%;
    width: 15%;
    position: fixed;
    overflow: auto;
    top: 13%;
    background-color: #30574b;
    padding-top: 20px;
    border-top-right-radius: 1%;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 150%;
    color: white;
    display: block;
  }
  
  .sidenav a:hover {
    color: #fffb00;;
    /* #42b625; */
    box-shadow: inset 210px 0 0 0 #478484;
    border-radius: 50px;
    transition: ease-out 0.5s;

  }
