ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 80%;
    margin-left: 13%;
    padding: 0;

}
li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    
}
#try a{
    text-decoration: none;
    color: white;
}

#try a:hover{
    color: #fffb00 !important;
    box-shadow: inset 200px 0 0 0 #478484;
    border-radius: 50px;
    transition: ease-out 0.5s;
    text-decoration: none;    
}

.nav-item{
    background-color: #30574b;
    
}
